body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
  }

  .balloon {
   font-size: 30px;   
  }
  
  .active {
      display: block;
    animation-name: popOut;
    animation-duration: 4s;
}