body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
  }
  body > div {
    max-width: 1000px;
    padding-top: 50px;
  }
  .exercise {
    text-align: left;
    padding-top: 100px;
    max-width: 500px;
  }
  h1 {
    font-size: 50px;
  }
  
  .balloon {
    font-size: 50px;
  }
  .exercise {
    display: none;
  }
  .active {
      display: block;
    animation-name: popOut;
    animation-duration: 4s;
}